.row {
	display: flex;
	margin-top: 80px;
}

.column {
	flex: 50%;
}

.img {
	position: relative;
	display: flex;
	height: 100vh;
	padding: 0 10%;
	align-items: center;
}

.img-content {
	max-width: 10px;
}

.home {
	position: relative;
	display: flex;
	height: 100vh;
	padding: 0 10%;
	align-items: center;
}

.home-content {
	min-width: 600px;
}

.home-content h1 {
	font-size: 42px;
	font-weight: 700;
}

.home-content h3 {
	font-size: 22px;
	font-weight: 600;
	color: #009DFF;
}

.home-content p {
	font-size: 16px;
}

.home-content .btn-box {
	width: 345px;
	height: 35px;
	background: #F9FF00;
	position: relative;
}

.btn-box a {
	
}
