@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background: #000000;
	position: fixed;
	background-size: cover;
	overflow-x: hidden;
	margin-top: -30px;
	color: #ededed;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 10%;
	background: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.logo {
	font-size: 25px;
	color: #ededed;
	text-decoration: none;
	font-weight: 600;
}

.navbar a {
	font-size: 18px;
	color: #ededed;
	text-decoration: none;
	font-weight: 500;
	margin-left: 35px;
}

.navbar a:hover,
.navbar a.active {
	color: #009DFF;
}

.marquee-msg {
	background: #3F3F3F;
	color: white;
	position: fixed;
	margin-top: 50px;
	width: 100%;
	display: flex;
	margin-top: 100px;
	z-index: 100;
}
